<!doctype html>
<html lang="en" ng-app="app">

<head>
    <script>!function(e,t,a,n,g){e[n]=e[n]||[],e[n].push({"gtm.start":(new Date).getTime(),event:"gtm.js"});var m=t.getElementsByTagName(a)[0],r=t.createElement(a);r.async=!0,r.src="https://www.googletagmanager.com/gtm.js?id=GTM-W2TX3R8",m.parentNode.insertBefore(r,m)}(window,document,"script","dataLayer")</script>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="robots" content="noindex, nofollow" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <title>Husqvarna | Meets Digital</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
    <link rel="icon" href="favicon.ico">
    <link href="app.a107bcdaea22d7a853a6.css" rel="stylesheet">
    <script src="runtime.fbd377307e8c10f0dacb.js"></script>
    <script src="vendors.29f9e85de6ad44b02a4d.js"></script>
    <script src="app.b08e06c96e8249f36fff.js"></script>
</head>

<body ng-controller="AirLSTCtrl as vm" class="font-body text-gray-500 bg-blue-200"><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2TX3R8" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="min-h-full w-full flex flex-col items-stretch">
        <header class="pt-12 sm:pt-20 pb-24 sm:pb-32 px-3" ng-if="vm.currentView !== 'video' || (vm.currentView === 'video' && vm.eventInformation.registration_closed)">
            <div class="bg-transparent container flex flex-wrap sm:mb-12">
                <div class="w-full sm:w-7/12 text-center sm:text-left">
                    <h1 class="text-blue-200 sm:text-white text-3xl sm:text-5xl font-bold leading-tight">BEREIT FÜR NEUE PERSPEKTIVEN</h1>
                    <h3 class="text-blue-200 sm:text-white">EINE EINZIGARTIGE DIGITALE ERFAHRUNG</h3>
                </div>
                <div class="w-full sm:w-5/12 flex justify-center sm:justify-end"><img src="images/hq_keyvisual_new.a9517401fa1a0e7b870ccdc7aec71f38.png" alt="Husqvarna | MEETS DIGITAL" class="mt-6 w-auto h-32 md:h-48" /></div>
            </div>
        </header>
        <article class="container -mt-1 sm:-mt-16 p-8 rounded-sm text-center" ng-if="vm.currentView === 'video' && vm.eventInformation.registration_closed">
            <h3 class="text-blue-200 font-bold text-lg sm:text-3xl mb-4">Die Registrierung ist bereits geschlossen.</h3>
            <p class="text-lg">Bei Fragen wenden Sie sich bitte an: <a href="mailto:events.de@husqvarnagroup.com" class="text-orange-100">events.de@husqvarnagroup.com</a><br /><br />Ihr Husqvarna-Team</p>
        </article>
        <article class="container -mt-1 sm:-mt-16 p-8 rounded-sm text-center relative" ng-if="vm.currentView !== 'video'">
            <div class="flex flex-wrap flex-col p-8 content-center" ng-if="vm.currentView === 'code'">
                <div class="w-full sm:px-2 text-center">
                    <h3 class="text-blue-200 font-bold text-md sm:text-2xl mb-4">Bitte geben Sie hier Ihren Check-In-Code ein.</h3>
                </div>
                <div class="input w-full sm:w-1/2 md:w-1/3 mx-auto"><input id="code" class="input__text text-center" ng-model="vm.rsvpCode" placeholder="CODE" ng-enter /></div>
                <div class="input w-full sm:w-1/2 md:w-1/3 mx-auto"><button type="button" ng-click="vm.loadRsvp()" class="btn btn--orange w-full mt-0">LOGIN</button></div>
            </div>
            <div class="flex flex-wrap" ng-if="vm.currentView === 'intro'">
                <div class="w-full md:w-1/2 text-center md:text-left">
                    <h2 class="text-orange-100 font-bold text-2xl sm:text-4xl">DIGITALE FACHHÄNDLERTAGUNG</h2>
                    <h3 class="text-blue-200 font-bold text-md sm:text-2xl">VORSTELLUNG PRODUKTHIGHLIGHTS 2021</h3>
                </div>
                <div class="w-full md:w-1/2 text-center">
                    <div class="bg-blue-100 p-8 mt-8 md:mt-0">
                        <h2 class="text-orange-100 font-bold text-2xl sm:text-4xl">EINLADUNG</h2>
                        <hr class="border-orange-100 border-3 mx-16 mb-3" />
                        <h3 class="text-blue-200 font-bold text-md sm:text-2xl">01. OKTOBER 2020</h3>
                        <div class="countdown">
                            <div class="item-container">{{ vm.countdown.days }} <span class="item-label">{{ vm.countdown.seconds === 1 ? 'TAG' : 'TAGE' }}</span></div>
                            <div class="item-container">{{ vm.countdown.hours }} <span class="item-label">{{ vm.countdown.seconds === 1 ? 'STUNDEN' : 'STUNDEN' }}</span></div>
                            <div class="item-container">{{ vm.countdown.minutes }} <span class="item-label">{{ vm.countdown.seconds === 1 ? 'MINUTE' : 'MINUTEN' }}</span></div>
                            <div class="item-container">{{ vm.countdown.seconds }} <span class="item-label">{{ vm.countdown.seconds === 1 ? 'SEKUNDE' : 'SEKUNDEN' }}</span></div>
                        </div>
                    </div>
                </div>
                <div class="w-full mt-8"><img src="images/map_husqvarna.df6bdff7fb4b855766507e21f7c15baa.jpg" class="mx-auto mb-8" alt="Husqvarna Logo" /></div>
                <div class="w-full"><button type="button" ng-click="vm.goToView('video')" class="btn btn--orange btn--lg btn--icon"><span>ZUR ANMELDUNG</span> <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5L16 12L9 19" /></svg></button></div>
            </div>
            <div class="flex flex-wrap" ng-if="vm.currentView === 'registration'">
                <div class="w-full">
                    <h3 class="text-blue-200 font-bold text-md sm:text-2xl mb-4">Möchten Sie an der digitalen Fachhändlertagung am 01.10.2020 teilnehmen?</h3><button type="button" ng-click="vm.setAnswerType('confirm')" class="btn btn--orange sm:mr-2" ng-class="{'btn--active': vm.answerType === 'confirm'}">JA, ICH NEHME TEIL</button> <button type="button" ng-click="vm.cancelRsvp(registrationForm)" class="btn btn--outlined-orange mt-4 sm:mt-0 sm:ml-2" ng-class="{'btn--active': vm.answerType === 'cancel'}">NEIN, LEIDER KANN ICH NICHT TEILNEHMEN</button>
                </div>
                <form class="w-full text-left mt-8" name="registrationForm" novalidate ng-if="vm.answerType">
                    <div class="flex flex-wrap md:-mx-2">
                        <div class="select w-full text-center">
                            <h3 class="text-blue-200 font-bold text-md sm:text-xl">Händler Informationen</h3><small>*Pflichtfelder</small>
                        </div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="dealer-number">Händlernummer</label> <input id="dealer-number" class="input__text" ng-model="vm.rsvpInformation.contact.custom_2" disabled="disabled" /></div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="company-name">Firma (Händlername)</label> <input id="company-name" class="input__text" ng-model="vm.rsvpInformation.contact.company_name" disabled="disabled" /></div>
                        <div class="select w-full sm:w-1/2 sm:px-2"><label class="select__label" for="sex">Anrede*</label> <select id="sex" class="select__field" ng-model="vm.rsvpInformation.contact.sex" required>
                                <option value="" ng-if="!vm.rsvpInformation.contact.sex">Bitte auswählen</option>
                                <option value="female">Frau</option>
                                <option value="male">Herr</option>
                            </select>
                            <div class="select__icon"><svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg></div>
                        </div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="first-name">Name*</label> <input id="first-name" class="input__text" ng-model="vm.rsvpInformation.contact.first_name" required /></div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="last-name">Nachname*</label> <input id="last-name" class="input__text" ng-model="vm.rsvpInformation.contact.last_name" required /></div>
                        <div class="select w-full sm:w-1/2 sm:px-2"><label class="select__label" for="function">Funktion*</label> <select id="function" class="select__field" ng-model="vm.rsvpInformation.rsvp.custom_7" required>
                                <option value="" ng-if="!vm.rsvpInformation.rsvp.custom_7">Bitte auswählen</option>
                                <option value="Geschaeftsfuehrung">Geschäftsführung</option>
                                <option value="Verkauf - Beratung">Verkauf/Beratung</option>
                                <option value="Service- Werkstatt">Service/Werkstatt</option>
                                <option value="Buchhaltung">Buchhaltung</option>
                                <option value="Sonstiges">Sonstiges</option>
                            </select>
                            <div class="select__icon"><svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg></div>
                        </div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="email">E-Mail</label> <input id="email" type="email" class="input__text" ng-model="vm.rsvpInformation.contact.email" ng-pattern="/[\w\-\._]+@[\w\-\._]+\.\w{2,10}/" disabled="disabled" /></div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="street">Straße und Hausnummer</label> <input id="street" class="input__text" ng-model="vm.rsvpInformation.contact.street" disabled="disabled" /></div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="zip">PLZ</label> <input id="zip" class="input__text" ng-model="vm.rsvpInformation.contact.zip" disabled="disabled" /></div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="city">Ort</label> <input id="city" class="input__text" ng-model="vm.rsvpInformation.contact.city" disabled="disabled" /></div>
                    </div>
                    <div class="flex flex-wrap md:-mx-2 items-center mt-4"><label class="w-full block text-blue-200 font-bold sm:px-2"><input id="different-delivery-address" class="mr-2 leading-tight" type="checkbox" ng-model="vm.rsvpInformation.rsvp.custom_6" /> <span class="text-md">Abweichende Lieferadresse</span></label>
                        <p class="sm:px-2 mb-4">Falls Ihre Eventbox nicht zur Händleradresse geliefert werden soll, können Sie hier eine alternative Lieferadresse angeben.</p>
                    </div>
                    <div class="flex flex-wrap md:-mx-2" ng-if="vm.rsvpInformation.rsvp.custom_6">
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="diff-address-name">Empfänger Name</label> <input id="diff-address-name" class="input__text" ng-model="vm.rsvpInformation.rsvp.custom_1" required /></div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="diff-address-street">Straße und Hausnummer</label> <input id="diff-address-street" class="input__text" ng-model="vm.rsvpInformation.rsvp.custom_2" required /></div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="diff-address-zip">PLZ</label> <input id="diff-address-zip" class="input__text" ng-model="vm.rsvpInformation.rsvp.custom_3" required /></div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="diff-address-city">Ort</label> <input id="diff-address-city" class="input__text" ng-model="vm.rsvpInformation.rsvp.custom_4" required /></div>
                    </div>
                    <div class="flex flex-wrap md:-mx-2 mt-4">
                        <div class="w-full sm:px-2">
                            <p class="text-md text-blue-200 font-bold">Wunschablageort</p>
                            <p>Falls Sie am Veranstaltungstag an der Lieferadresse nicht durchgehend erreichbar sind, geben Sie bitte einen Ablageort für das Cateringpaket an.</p>
                        </div>
                        <div class="input w-full mt-4 sm:px-2"><textarea id="desired-storage-location" name="desired-storage-location" class="input__text" ng-model="vm.rsvpInformation.rsvp.custom_5"></textarea></div>
                    </div>
                    <div class="flex flex-wrap md:-mx-2 items-center mt-4">
                        <p class="text-md w-full block text-blue-200 font-bold sm:px-2">Weitere Mitarbeiterzugänge</p>
                        <p class="sm:px-2 mb-4"><strong>Unser Tipp:</strong> Geniessen Sie diese Veranstaltung gemeinsam im Team.<br />Sollten Sie dennoch mehrere Zugänge zum Portal für Ihre Mitarbeiter benötigen, können Sie hier bis zu drei weitere Zugänge anlegen.</p>
                    </div>
                    <div class="flex flex-wrap md:-mx-2" ng-repeat="guest in vm.rsvpInformation.guests">
                        <div class="select w-full sm:w-1/2 sm:px-2"><label class="select__label" for="companion-sex-{{$index}}">Anrede*</label> <select id="companion-sex-{{$index}}" class="select__field" ng-model="guest.contact.sex" required>
                                <option value="" ng-if="!guest.contact.sex">Bitte auswählen</option>
                                <option value="female">Frau</option>
                                <option value="male">Herr</option>
                            </select>
                            <div class="select__icon"><svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg></div>
                        </div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="companion-first-name-{{$index}}">Vorname*</label> <input id="companion-first-name-{{$index}}" class="input__text" ng-model="guest.contact.first_name" required /></div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="companion-last-name-{{$index}}">Nachname*</label> <input id="companion-last-name-{{$index}}" class="input__text" ng-model="guest.contact.last_name" required /></div>
                        <div class="select w-full sm:w-1/2 sm:px-2"><label class="select__label" for="companion-function-{{$index}}">Funktion*</label> <select id="companion-function-{{$index}}" class="select__field" ng-model="guest.rsvp.custom_7" required>
                                <option value="" ng-if="!guest.rsvp.custom_7">Bitte auswählen</option>
                                <option value="Geschaeftsfuehrung">Geschäftsführung</option>
                                <option value="Verkauf - Beratung">Verkauf/Beratung</option>
                                <option value="Service- Werkstatt">Service/Werkstatt</option>
                                <option value="Buchhaltung">Buchhaltung</option>
                                <option value="Sonstiges">Sonstiges</option>
                            </select>
                            <div class="select__icon"><svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg></div>
                        </div>
                        <div class="input w-full sm:w-1/2 sm:px-2"><label class="input__label" for="companion-email-{{$index}}">E-Mail*</label> <input id="companion-email-{{$index}}" class="input__text" ng-model="guest.contact.email" required /></div>
                        <div class="w-full flex my-4"><button type="button" ng-click="vm.removeGuest(guest)" class="btn btn--outlined-orange">Zugang entfernen</button></div>
                    </div>
                    <div class="w-full flex"><button type="button" class="btn btn--orange" ng-click="vm.addGuest()" ng-if="vm.rsvpInformation.guests.length < 3">Weiteren Zugang erstellen</button></div>
                    <div class="flex flex-wrap md:-mx-2 items-center mt-8">
                        <div class="w-full sm:px-2">
                            <h3 class="text-blue-200 font-bold text-md sm:text-xl mb-2">Wichtige Haftungsausschlüsse und Datenschutzhinweise</h3>
                        </div>
                        <p class="sm:px-2 mb-4"><span class="text-md text-blue-200 font-bold">Inhalt der Veranstaltung</span><br />Mir ist bewusst, dass der Inhalt der Veranstaltung (einschliesslich der Veranstaltungskommunikation) NUR für die Händlertagung bestimmt ist und dass der Inhalt NUR für ein bestimmtes Publikum genehmigt wurde.<br />Mir ist bewusst, dass ich den Veranstaltungsinhalt (einschliesslich der Veranstaltungsmitteilungen) NICHT ohne vorherige Zustimmung des Inhaltseigentümers weiter verwenden oder weitergeben darf.<br />Mir ist bewusst, dass der Inhalt NICHT für den externen Gebrauch genehmigt wurde und nicht extern verwendet werden darf.</p><label for="content-of-the-event" class="w-full block sm:px-2"><input id="content-of-the-event" type="checkbox" class="mr-2 leading-tight" ng-model="vm.rsvpInformation.rsvp.custom_10" required /> <span>Ich habe die obigen Erklärungen gelesen und stimme ihnen zu.</span></label>
                        <p class="sm:px-2 my-4"><span class="text-md text-blue-200 font-bold">Aufzeichnung</span><br />Mir ist bewusst, dass Bilder, Aufzeichnungen, Kopien, Vervielfältigungen oder die Veröffentlichung von Inhalten z.B. auf Webseiten streng verboten sind.<br />Mir ist bewusst, dass die Veranstaltung aufgezeichnet wird und dass Teile oder die gesamte Aufzeichnung nach Abschluss der Veranstaltung auf Anfrage ggfs. zur Verfügung gestellt werden können.<br />Ich verstehe, dass dies bedeutet, dass meine Live-Interaktionen und Fragen aufgezeichnet und nach der Veranstaltung einem breiteren Publikum zugänglich gemacht werden können.</p><label for="recording" class="w-full block sm:px-2"><input id="recording" type="checkbox" class="mr-2 leading-tight" ng-model="vm.rsvpInformation.rsvp.custom_11" required /> <span>Ich habe die obigen Erklärungen gelesen und erkläre mich damit einverstanden, sie zu befolgen.</span></label>
                        <p class="sm:px-2 my-4"><span class="text-md text-blue-200 font-bold">Privatsphäre und Datenschutz</span><br />Mir ist bewusst, dass einige meiner personenbezogenen Daten wie Geschlecht, Name, arbeitsbezogene Informationen, E-Mail-Adresse, Adressdaten an Drittanbieter wie Veranstaltungsagenturen, Caterer, Versanddienstleister und technische Zulieferer weitergegeben werden können, um die reibungslose Organisation der Veranstaltung zu gewährleisten.<br />Mir ist bewusst, dass nur die notwendigen personenbezogenen Daten an die oben aufgeführten Parteien weitergegeben werden. Darüber hinaus werden alle diese Parteien meine Informationen vollständig und unverzüglich nach Beendigung ihrer Dienstleistungen oder bis zum Ende der Veranstaltungsreihe löschen, je nachdem, was zuerst eintritt.<br />Wir geben Ihre Daten an die GO! Express & Logistics Südwest GmbH & Co. KG weiter, die von uns mit dem Transport des Ihrerseits georderten Pakets betraut sein wird. Die GO! Express & Logistics GmbH & Co. KG wird die Daten ausschließlich zweckgebunden für den jeweiligen Transportauftrag verwenden. Je nach gewähltem Transportort werden die für die Erfüllung des Transportauftrags erforderlichen Daten an weitere GO! Gesellschaften weitergeben und entsprechend, unter Wahrung der gesetzlichen Vorgaben, verarbeitet. Nach Erfüllung des Auftrags werden Ihre Daten in ihrer weiteren Verarbeitung gesperrt und lediglich für die Erfüllung bestehender Aufbewahrungsfristen gespeichert. Nach Ablauf der Aufbewahrungsfristen werden Ihre Daten gelöscht.<br />Sie können die vollständige <a href="https://privacyportal.husqvarnagroup.com/int/privacy-notice" target="_blank">Datenschutzerklärung</a> auf dieser Webseite einsehen. Bei Fragen den Datenschutz betreffend können Sie sich jederzeit an die Datenschutzbeauftragte der Husqvarna Group wenden. Die Kontaktdaten finden Sie ebenfalls in unserer Datenschutzerklärung.</p><label for="data-protection" class="w-full block sm:px-2"><input id="data-protection" type="checkbox" class="mr-2 leading-tight" ng-model="vm.rsvpInformation.rsvp.custom_12" required /> <span>Ich habe die Datenschutzerklärung zur Kenntnis genommen.</span></label> <label for="privacy" class="w-full block sm:px-2"><input id="privacy" type="checkbox" class="mr-2 leading-tight" ng-model="vm.rsvpInformation.rsvp.custom_13" required /> <span>Ich bin damit einverstanden, dass meine personenbezogenen Daten an die oben aufgeführten Drittanbieter weitergegeben werden.</span></label>
                    </div>
                    <div class="w-full mt-8 flex"><button type="submit" ng-disabled="vm.submitting" ng-click="vm.confirmRsvp(registrationForm)" class="btn btn--orange">Anmelden</button></div>
                </form>
            </div>
            <div class="flex flex-wrap p-8 justify-center" ng-if="vm.currentView === 'done' && vm.answerType === 'confirm'">
                <h3 class="text-blue-200 text-3xl sm:text-5xl font-bold leading-tight">Vielen Dank für Ihre Anmeldung.</h3>
                <p>In Kürze erhalten Sie die Anmeldebestätigung an Ihre E-Mail-Adresse.</p>
            </div>
            <div class="flex flex-wrap p-8 justify-center" ng-if="vm.currentView === 'done' && vm.answerType === 'cancel'">
                <h3 class="w-full text-blue-200 text-3xl sm:text-5xl font-bold leading-tight mb-4">Schade,</h3>
                <p>dass Sie nicht an der Veranstaltung teilnehmen können.</p>
                <h3 class="w-full text-blue-200 text-xl font-bold leading-tight mt-4 mb-2">Was Sie verpassen:</h3><video id="video" controls vid-dir class="w-full lg:max-h-video">
                    <source src="videos/teaser_de_web.mp4" type="video/mp4" /></video>
                <p class="mt-8">Möchten Sie doch an der digitalen Fachhändlertagung teilnehmen?</p>
                <div class="w-full mt-2 flex"><button type="button" ng-click="vm.goToView('registration'); vm.setAnswerType(null)" class="btn btn--orange">JETZT ANMELDEN</button></div>
            </div>
            <div class="flex flex-wrap p-8 text-left" ng-if="vm.currentView === 'impressum'">
                <h3 class="text-orange-100 text-3xl sm:text-5xl font-bold leading-tight">IMPRESSUM</h3>
                <p>Husqvarna Deutschland GmbH<br />Hans-Lorenser-Straße 40<br />89079 Ulm<br /><br />Zentrale:<br />Tel. (0731) 490-2500<br />Fax (0731) 490-8500<br /><br />E-Mail: info@husqvarna.de<br />Für technische Fragen und Fragen zu unseren Produkten verwenden Sie bitte bevorzugt das Kontaktformular.<br /><br />Geschäftsführer: Hans-Joachim Endress, Mathias Pfitzenmeier<br />Registergericht: Ulm<br />Registernummer: HRB 725821<br />Umsatzsteueridentnummer: DE 246 26 28 48<br /><br />Unsere Website enthält Links auf Seiten fremder Anbieter. Daraus kann nicht gefolgert werden, dass Husqvarna diese direkt oder indirekt unterstützt. Husqvarna ist für Inhalte fremder Anbieter nicht verantwortlich und macht sich deren Äußerungen nicht zu eigen.<br /><br />Urheberrecht: Alle auf husqvarna.com und husqvarna.de erschienenen Beiträge und Abbildungen sind urheberrechtlich geschützt und dürfen weder reproduziert noch wiederverwendet oder für gewerbliche Zwecke verwendet werden.<br /><br />Ein Zuwiderhandeln ist strafbar. Alle Rechte, auch Übersetzungen, sind vorbehalten. Reproduktionen, gleich welcher Art, ob Fotokopie, Mikrofilm, Vervielfältigung auf CD-ROM oder Erfassung in Datenverarbeitungsanlagen, nur mit schriftlicher Genehmigung von Husqvarna. Für unverlangt eingesandte Manuskripte, Datenträger und Bilder, Illustrationen sowie Fotos wird keine Haftung übernommen.<br /><br />©2017 Husqvarna Deutschland GmbH, Ulm</p>
                <div class="w-full mt-8 flex"><button type="button" ng-click="vm.goBack()" class="btn btn--orange">ZURÜCK</button></div>
            </div>
        </article>
        <article class="w-full p-8 flex content-center flex-wrap" ng-if="vm.currentView === 'video' && !vm.eventInformation.registration_closed"><video id="video" controls vid-dir class="w-full lg:max-h-video">
                <source src="videos/teaser_de_web.mp4" type="video/mp4" /></video>
            <div class="w-full mt-8 flex"><button type="button" ng-click="vm.goToView('registration')" class="btn btn--orange btn--lg btn--icon"><span>VIDEO ÜBERSPRINGEN</span> <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5L16 12L9 19" /></svg></button></div>
        </article>
        <footer class="bg-blue-200 mt-6 sm:mt-16 mb-6 container">
            <div class="flex flex-wrap items-center">
                <div class="w-full sm:w-1/2 text-center sm:text-left"><a href="#" ng-click="vm.toImpressum()" class="text-white hover:text-orange-100 mr-2">IMPRESSUM</a> <a href="https://privacyportal.husqvarnagroup.com/int/privacy-notice" target="_blank" class="text-white hover:text-orange-100 ml-2">DATENSCHUTZ</a></div>
                <div class="w-full sm:w-1/2"><a href="/"><img src="images/hq-logo.8acff8518a8274f967e9d5ffb240fc66.png" class="mx-auto sm:mr-0 mt-2 sm:mt-0" alt="Husqvarna Logo" /></a></div>
            </div>
        </footer>
    </div>
</body>
<script>
$(document).ready((function() { $.cookieBar({ message: "Um die Webseite optimal gestalten und fortlaufend verbessern zu können, verwendet Husqvarna Cookies. Durch die weitere Nutzung der Webseite stimmen Sie der Verwendung der Cookies zu.", acceptText: "OK", policyButton: !0, policyText: "Weitere Informationen", policyURL: "https://privacyportal.husqvarnagroup.com/de/" }), $(".cb-policy").attr("target", "_blank") }))
</script>

</html>