h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Husqvarnagothic, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.body {
  height: 100vh;
  font-family: Husqvarnagothic, sans-serif;
  color: #4d4d4d;
  font-weight: 400;
}

.hero {
  position: relative;
  display: block;
  height: 400px;
  padding-top: 77px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/husqvarna-keyvisual-bg-full.jpg');
  background-position: 42% 100%;
  background-size: 120%;
  background-repeat: no-repeat;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.grid-hero {
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-column-gap: 150px;
  grid-row-gap: 50px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container {
  display: block;
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.hero {
  background-image: none;
}

.white {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.hero-logo {
  display: block;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  float: right;
  text-align: center;
}

.hero-text {
  width: 50%;
  float: left;
}

.h1-hero {
  margin-top: 0px;
  padding-right: 60px;
  color: #fff;
  font-size: 45px;
  line-height: 50px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.logo {
  max-width: 130px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.button {
  padding: 12px 35px 12px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e3e6;
  background-color: #fff;
  background-image: url('../images/button-arrow.svg');
  background-position: 92% 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Husqvarnagothic, sans-serif;
  color: #000;
  text-align: left;
  cursor: pointer;
}

.button:hover {
  background-color: #e2e3e6;
}

.button.center-text {
  min-height: 46px;
}

.button.pwd {
  padding-right: 12px;
}

.button.kalendar {
  margin-top: 15px;
  padding-right: 48px;
  background-image: url('../images/calendar-02.png');
  background-size: 24px;
}

.text-field {
  min-height: 46px;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e3e6;
  background-color: #fff;
  font-family: Husqvarnagothic, sans-serif;
}

.text-field.center-text {
  color: #4d4d4d;
}

.h3-pwd {
  margin-top: 0px;
  margin-bottom: 0px;
}

.pwd-textblock {
  margin-top: 25px;
  margin-bottom: 25px;
}

.center-text {
  text-align: center;
}

.section {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#273a60), to(#273a60)), -webkit-gradient(linear, left top, left bottom, from(#f25420), to(#273a60));
  background-image: linear-gradient(180deg, #273a60, #273a60), linear-gradient(180deg, #f25420, #273a60);
}

.section.grey-bg {
  padding-top: 143px;
  background-color: #f4f4f4;
}

.section.blue-bg {
  padding-top: 143px;
  background-color: #273a60;
}

.js-clock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
}

.box.box-1 {
  border-bottom: 7px solid #f25420;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.box.box-1 {
  width: 70px;
  height: 70px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 7px;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.clock-number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.clock-label {
  margin-top: 10px;
  margin-right: -5px;
  font-size: 9px;
  line-height: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #273a60;
}

.image {
  display: block;
  -o-object-fit: fill;
  object-fit: fill;
}

.logo-footer {
  display: block;
  float: right;
}

.save-the-date {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ebf0fa;
  text-align: center;
}

.orange {
  margin-bottom: 10px;
  color: #f25420;
}

.blue {
  color: #273a60;
}

.bar-orange {
  height: 7px;
  max-width: 300px;
  margin-right: auto;
  margin-bottom: 14px;
  margin-left: auto;
  background-color: #f25420;
}

.video {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.grid {
  margin-bottom: 40px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-link {
  margin-top: 10px;
  margin-right: 25px;
  float: left;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-link:hover {
  color: #f25420;
}

.footer-menu {
  float: left;
}

.hero-logo-white {
  display: none;
  width: 80%;
}

.video-block {
  position: relative;
  max-width: 990px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 80px;
  background-color: #e2e3e6;
}

.content-section {
  position: relative;
  top: -50px;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.content-section-copy {
  position: relative;
  max-width: 990px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.section-copy {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-copy.grey-bg {
  padding-top: 143px;
  background-color: #f4f4f4;
}

.section-copy.blue-bg {
  padding-top: 143px;
  background-color: #273a60;
}

.gradient-blue {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 120px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#273a60));
  background-image: linear-gradient(180deg, transparent, #273a60);
}

.wg-element-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wg-element-wrapper.sw7 {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100000;
  display: block;
  float: right;
  background-color: #fff;
}

.wg-dropdown-2 {
  z-index: 20000;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.wg-dd-2-togle {
  z-index: 1;
  display: block;
  width: 100%;
  padding: 5px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #273a60;
}

.wg-dd-2-togle:hover {
  color: #ff6640;
}

.wg-dd-2-list {
  left: 0%;
  top: -0.5rem;
  right: auto;
  bottom: auto;
  overflow: hidden;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  background-color: #fff;
  box-shadow: 0 3px 11px -1px rgba(64, 73, 255, 0.11);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.wg-dd-2-list.w--open {
  padding-bottom: 0rem;
}

.wg-dropdown-2-link {
  display: block;
  padding: 5px 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #273a60;
  text-decoration: none;
}

.wg-dropdown-2-link:hover {
  color: #ff6640;
}

.language-switcher {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 200000;
  display: block;
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.language-switcher.hero {
  background-image: none;
}

.text-holder {
  margin-bottom: 25px;
}

.list {
  margin-bottom: 0px;
  padding-left: 25px;
}

.list.ordered {
  font-weight: 400;
  list-style-type: decimal;
}

.home-link {
  display: block;
  height: 2rem;
  margin-right: 1px;
  padding: 0.35rem 20px 0.25rem;
  float: right;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #273a60;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.home-link:hover {
  color: #f25420;
}

._50 {
  width: 50%;
  padding-right: 25px;
  padding-left: 25px;
  float: left;
}

.video-frame {
  width: 100%;
}

.content-section-no-padding {
  position: relative;
  top: -50px;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 0px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.video100 {
  width: 100%;
  margin-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  float: left;
}

.hero-logo-block {
  width: 50%;
  float: left;
}

@media screen and (max-width: 991px) {
  .hero {
    background-position: 37% 50%;
    background-size: 150%;
  }
  .grid-hero {
    grid-column-gap: 60px;
    -ms-grid-columns: 0.75fr 1.5fr;
    grid-template-columns: 0.75fr 1.5fr;
  }
  .container {
    max-width: 700px;
  }
  .hero-logo {
    width: 75%;
    padding-top: 0%;
    float: right;
  }
  .h1-hero {
    padding-right: 20px;
  }
  .save-the-date {
    margin-top: 25px;
    padding-bottom: 50px;
  }
  .textblock {
    text-align: center;
  }
  .grid {
    grid-row-gap: 25px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .hero-logo-white {
    display: none;
  }
  .content-section {
    max-width: 650px;
  }
  .language-switcher {
    max-width: 700px;
  }
  ._50 {
    width: 100%;
  }
  .content-section-no-padding {
    max-width: 650px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    height: 420px;
    padding: 80px 20px;
    background-position: 100% 50%;
    background-size: 200%;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .grid-hero {
    grid-column-gap: 0px;
    grid-row-gap: 25px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .container {
    max-width: 100%;
  }
  .white {
    color: #273a60;
  }
  .hero-logo {
    position: relative;
    z-index: 10000;
    display: block;
    width: 60%;
    padding-top: 25px;
    float: none;
  }
  .hero-text {
    width: 100%;
    text-align: center;
  }
  .h1-hero {
    padding-right: 0px;
    color: #273a60;
    font-size: 30px;
    line-height: 35px;
  }
  .js-clock {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .box {
    width: auto;
    height: auto;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 2px;
    padding-left: 2px;
  }
  .box.box-1 {
    width: 110px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .box.box-1 {
    width: 70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .clock-label {
    color: hsla(0, 0%, 69.3%, 0.52);
    font-weight: 700;
  }
  .orange {
    font-size: 24px;
    line-height: 24px;
  }
  .blue {
    font-size: 16px;
    line-height: 20px;
  }
  .bar-orange {
    margin-bottom: 10px;
  }
  .hero-logo-white {
    display: block;
    width: 60%;
  }
  .content-section {
    top: -10px;
    max-width: 90%;
  }
  .gradient-blue {
    height: 120px;
  }
  .language-switcher {
    max-width: 100%;
    padding-right: 28px;
  }
  .content-section-no-padding {
    top: -10px;
    max-width: 90%;
  }
  .hero-logo-block {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    height: 350px;
    padding-top: 50px;
    padding-bottom: 80px;
    background-position: 100% 50%;
    background-size: 220%;
  }
  .grid-hero {
    grid-row-gap: 25px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hero-logo {
    display: block;
    width: 80%;
  }
  .h1-hero {
    font-size: 30px;
    line-height: 35px;
  }
  .box.box-1 {
    width: 100px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .box.box-1 {
    width: 50px;
    height: 50px;
  }
  .clock-number {
    position: relative;
    top: 6px;
    font-size: 20px;
    line-height: 20px;
  }
  .clock-label {
    margin-right: 0px;
    font-size: 9px;
    letter-spacing: 0px;
  }
  .logo-footer {
    margin-top: 20px;
    float: left;
  }
  .save-the-date {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .orange {
    font-size: 24px;
    line-height: 28px;
  }
  .blue {
    font-size: 16px;
    line-height: 20px;
  }
  .bar-orange {
    max-width: 200px;
    margin-bottom: 10px;
  }
  .footer-menu {
    width: 100%;
    margin-left: 7px;
    float: none;
  }
  .hero-logo-white {
    display: block;
  }
  .content-section {
    top: -10px;
    padding: 10px;
  }
  .language-switcher {
    padding-right: 16px;
    padding-left: 10px;
  }
  ._50 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .content-section-no-padding {
    top: -10px;
    padding: 10px;
  }
  .video100 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@font-face {
  font-family: 'Husqvarnagothic';
  src: url('../fonts/HusqvarnaGothic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Husqvarnagothic';
  src: url('../fonts/HusqvarnaGothic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Husqvarnagothic';
  src: url('../fonts/HusqvarnaGothic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Husqvarnagothic';
  src: url('../fonts/HusqvarnaGothic-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Husqvarnagothic';
  src: url('../fonts/HusqvarnaGothic-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Husqvarnagothic';
  src: url('../fonts/HusqvarnaGothic-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}