<!DOCTYPE html>
<!--  Last Published: Wed Jul 29 2020 16:38:31 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5f1a9665d67433e219a9f00d" data-wf-site="5f1a9665d67433eaa2a9f00e">
<head>
  <meta charset="utf-8">
  <title>Version 02 - Save the Date</title>
  <meta content="Version 02 - Save the Date" property="og:title">
  <meta content="Version 02 - Save the Date" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/husqvarna-save-the-date-v02.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
  <style>
//hiding lottie player on IE
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .language-switcher {
    display: none;
  }
}
</style>
</head>
<body>
  <div class="utility-page-wrap">
    <div class="utility-page-content w-password-page w-form">
      <form action="/.wf_auth" method="post" class="utility-page-form w-password-page"><img src="images/husqvarna-logo.png" alt="" class="logo">
        <div class="pwd-textblock">
          <h3 class="h3-pwd">Save the Date<br></h3>
          <div>Landingpage<strong> Version 02</strong></div>
        </div><input type="password" autofocus="true" maxlength="256" name="pass" placeholder="Enter your password" class="text-field center-text w-password-page w-input"><input type="submit" value="Submit" data-wait="Please wait..." class="button pwd center-text w-password-page w-button">
        <div class="w-password-page w-form-fail">
          <div>Incorrect password. Please try again.</div>
        </div>
        <div style="display:none" class="w-password-page w-embed w-script"><input type="hidden" name="path" value="<%WF_FORM_VALUE_PATH%>"><input type="hidden" name="page" value="<%WF_FORM_VALUE_PAGE%>"></div>
        <div style="display:none" class="w-password-page w-embed w-script">
          <script type="application/javascript">(function _handlePasswordPageOnload() {
	  if (/[?&]e=1(&|$)/.test(document.location.search)) {
	    document.querySelector('.w-password-page.w-form-fail').style.display = 'block';
	  }
	})()</script>
        </div>
      </form>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5f1a9665d67433eaa2a9f00e" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="js/husqvarna-save-the-date-v02.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>